* {
  font-family: sans-serif;
}

body {
  padding-top: 10vh;
  padding-bottom: 10vh;
  background-image: url('/assets/background.png');
}
main {
  background: #333333;
  min-height: 80vh;
  max-width: 1008px;
  width: 60vw;
  margin: auto;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  position: relative;
}
header {
  background: linear-gradient(to bottom, #646464 0%,#0e0e0e 100%);
  padding: 15px;
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
aside {
  width: 24%;
  position: absolute;
  top: 15vh;
  left: 77%;
}
aside li {
  margin: .25rem 0;
  list-style: none;
}
aside a {
  color: rgb(67, 187, 177);
}
aside a:hover {
  cursor: pointer;
  color: rgb(77, 197, 187);
}

aside hr {
  border-color: rgba(0, 0, 0, 0);
}
.search {
  width: 65%;
}
.search input {
  border: none;
  border-radius: 3px 0 0 3px;
  -webkitz-box-shadow: 1px 1px 1px rgba(0,0,0,0.4) inset;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.4) inset;
  font: 14px Verdana, Arial, sans-serif;
  height: 19px;
  padding: 5px 8px;
  vertical-align: middle;
  width: 70%;
}

select {
  width: 20%;
  height: 30px;
  padding: 5px 2px;
  border-radius: 0 3px 3px 0;
  -webkitz-box-shadow: 1px 1px 1px rgba(0,0,0,0.4) inset;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.4) inset;
  font: 12px Verdana, Arial, sans-serif;
  color: #333;
}

.logo {
  width: 102px;
  height: 47px;
  background: url('/assets/navbar_sprite.png');
  background-position: 0px -119px;
}
.logo:hover {
  cursor: pointer;
  background-position: 0px -70px;
}

.links {
  display: flex;
  align-items: stretch;
}
.links div {
  padding: 0 1rem;
  font-size: 1rem;
  color: #efefef;
  font-family: Verdana, Arial, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.links div:hover {

}
article {
 width: 75%;
 display: flex;
 flex-wrap: wrap;
 justify-content: space-around;
 padding-bottom: 10px;
}
.thumbnail {
  width: 27%;
  height: calc(16vw * .95);
  max-width: 200px;
  max-height: 280px;
  text-align: center;
  margin: 10px 10px;
}
.thumbnail:hover {
  opacity: .85;
  cursor: pointer;
}
.thumbnail div {
  background-size: cover;
  background-position: center;
  height: calc(16vw * .95);
  max-height: 280px;
}
article.details {
  display: inline-block;
  padding: 1rem;
}
.details {
  color: #eee;
}
.details img {
  height: 20vw;
  float: left;
  margin-right: 1rem;
}
.details h3 {
  height: 20vh;
  float: left;
  cursor: pointer;
  margin-right: 1rem;
}
.details h2 {
  font-size: 1.5rem;
}
.details h5 {
  margin: 5px 0;
}
.details input {
  display: block;
  margin: 10px 0;
  -webkitz-box-shadow: 1px 1px 1px rgba(0,0,0,0.4) inset;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.4) inset;
  font: 14px Verdana, Arial, sans-serif;
  height: 19px;
  padding: 5px 8px;
  vertical-align: middle;
  border-radius: 3px;
}
textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 50%;
  -webkitz-box-shadow: 1px 1px 1px rgba(0,0,0,0.4) inset;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.4) inset;
  font: 14px Verdana, Arial, sans-serif;
  padding: 5px 8px;
  vertical-align: middle;
  border-radius: 3px;
}
.details button {
  background: rgb(163, 35, 21);
  border: none;
  padding: .65rem;
  border-radius: 5px;
  color: white;
  float: left;
  margin-top: 4px;
  margin-right: 4px;
}
.details button:hover {
  cursor: pointer;
  opacity: .85;
}


.modal {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(86, 86, 86, 0.48);
  display: flex;
  justify-content: center;
  align-items: center;
}
.modal form {
  width: 40vw;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  background: rgb(35, 35, 35);
  border-radius: 3px;
  padding: 20px;
}
.modal form input {
  display: block;
  margin: 3px 0;
  -webkitz-box-shadow: 1px 1px 1px rgba(0,0,0,0.4) inset;
  box-shadow: 1px 1px 1px rgba(0,0,0,0.4) inset;
  font: 14px Verdana, Arial, sans-serif;
  height: 19px;
  padding: 5px 8px;
  vertical-align: middle;
  border-radius: 3px;
}
.modal form textarea {
  width: 100%;
}

.modal form button {
  background: rgb(163, 35, 21);
  border: none;
  padding: .65rem;
  border-radius: 5px;
  color: white;
  float: left;
  margin-top: 4px;
  margin-right: 4px;
}
.modal form button:hover {
cursor: pointer;
opacity: .85;
}
.references {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin-top: 15vh;
  flex-wrap: wrap;
}
.references .thumbnail {
  margin: 5px;
}
